{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block centernav %}
    <div class="row g-4 pt-2 vstack gap-2">
        <div class="card">
            <div class="card-header">
                <h3>Create Activity</h3>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ activity_form|crispy }}
                    <button type="submit" class="btn border btn-success">Save</button>
                    <a class="btn border" href="{% url 'training_log' %}">Cancel</button>
                </form>
            </div>
            </div>
    </div>
{% endblock %}

