{% extends "base.html" %}
{% load static %}

{% block leftnav %}
<h2> Hello from the left!</h2>
{% endblock %}

{% block centernav%}

{% endblock %}

{% block rightnav%}
<div class="col align-self-center container-lg py-5 border-left mx-auto">
    <h2>My Stats</h2>
    <div class="card flex-fill py-3 border-0">
        <div class="card-header border">
            <h5>Last 4 Weeks</h5>
        </div>
        <table class="table table-sm my-0 border">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Activities / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Avg Distance / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Avg Time / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Elev Gain / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card flex-fill py-3 border-0">
        <div class="card-header border">
            <h5>Year to Date</h5>
        </div>
        <table class="table table-sm my-0 border">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Activities</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Distance</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Elev Gain</td>
                    <td class="text-end">TBD</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card flex-fill py-3 border-0">
        <div class="card-header border">
            <h5>All-Time</h5>
        </div>
        <table class="table table-sm my-0 border">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Activities</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Distance</td>
                    <td class="text-end">TBD</td>
                <tr>
                    <td>Time</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Elev Gain</td>
                    <td class="text-end">TBD</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
