{% extends "base.html" %}
{% load static %}

{% block leftnav %}
<div class="col align-self-center container-lg">
    <a href="{% url 'create_activity' %}" class="btn btn-primary-bg btn-lg btn-outline-dark d-grid gap-2 mx-auto">
        <h4>New Activity</h4>
    </a>
</div>
{% endblock %}

{% block centernav%}
<div class="col-md-12 py-5 vstack border-0">
    <div class="card">
        <div class="card-body border gap-2">
            <div class="row">
                <div class="col mt-0">
                    <h2>My Weekly Snapshot</h2>
                </div>
            </div>
            <div class="row">
                <div class="col mt-0">
                    <h4>Activities</h4>
                </div>
                <div class="col mt-0">
                    <h4>Distance</h4>
                </div>
                <div class="col mt-0">
                    <h4>Time</h4>
                </div>
            </div>
            <div class="row">
                <div class="col mt-0">
                    <h5>TBD</h5>
                </div>
                <div class="col mt-0">
                    <h5>TBD</h5>
                </div>
                <div class="col mt-0">
                    <h5>TBD</h5>
                </div>
            </div>
        </div>
    </div>
    {% for key, val in activities.items %}
    <div class="card mt-3">
        <div class="card-body pt-2">
            <div class="row">
                <div class="col mt-0">
                    <h4>{{ key.athlete }}</h4>
                </div>
                <div class="col-auto">
                    <a href="{% url 'edit_activity' key.aid %}">Edit</a>
                </div>
            </div>
            <div class="row">
                <div class="col mt-0">
                    <h6>{{ key.date}} | {{ key.time }} | {{ key.location }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col mt-0">
                    <h3>{{ key.title}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col mt-0">
                    <h6>{{ key.sport}} </h6>
                </div>
            </div>
            <div class="row">
                <div class="col mt-0">
                    <h6>{{ key.description}} </h6>
                </div>
            </div>
            <div class="row text-center">
                <div class="col text-left">
                    <h4>Distance</h4>
                </div>
                <div class="col text-center">
                    <h4>Pace</h4>
                </div>
                <div class="col text-right">
                    <h4>Time</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col text-left">
                    <h4>{{ key.distance }} mi</h4>
                </div>
                <div class="col text-center">
                    <h4>{{ val.pace_string }} /mi</h4>
                </div>
                <div class="col text-right">
                    <h4>{{ val.duration_string }}</h4>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
 {% endblock %}

{% block rightnav%}
<div class="col align-self-center container-lg py-5 border-left mx-auto">
    <h2>My Stats</h2>
    <div class="card flex-fill py-3 border-0">
        <div class="card-header border">
            <h5>Last 4 Weeks</h5>
        </div>
        <table class="table table-sm my-0 border">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Activities / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Avg Distance / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Avg Time / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Elev Gain / Week</td>
                    <td class="text-end">TBD</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card flex-fill py-3 border-0">
        <div class="card-header border">
            <h5>Year to Date</h5>
        </div>
        <table class="table table-sm my-0 border">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Activities</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Distance</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Elev Gain</td>
                    <td class="text-end">TBD</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card flex-fill py-3 border-0">
        <div class="card-header border">
            <h5>All-Time</h5>
        </div>
        <table class="table table-sm my-0 border">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Activities</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Distance</td>
                    <td class="text-end">TBD</td>
                <tr>
                    <td>Time</td>
                    <td class="text-end">TBD</td>
                </tr>
                <tr>
                    <td>Elev Gain</td>
                    <td class="text-end">TBD</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
